<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel1">Contract detail</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-12">
            <label class="form-label">Employee ID<span class="text-danger">*</span></label>
            <input type="number" class="form-control"   disabled>
            <div class="row">
              <div class="col-xl-6">
                <label class="form-label mt-3">Contract Name<span class="text-danger">*</span></label>
                <div class="input-group">
                  <input type="text" class="form-control" >
                </div>
              </div>
              <div class="col-xl-6">
                <label class="form-label">Contract Type<span class="text-danger">*</span></label>
                <select class="default-select form-control" >
                  <option data-display="Select">Please select</option>
                  <option value="'CDD'">CDD</option>
                  <option value="'CDI'">CDI</option>
                  <option value="'CIVP'">CVIP</option>
                  <option value="'FREELANCE'">FREELANCE</option>
                </select>
              </div>
              <div class="col-xl-6">
                <label class="form-label">Status<span class="text-danger">*</span></label>
                <select class="default-select form-control" >
                  <option data-display="Select">Please select</option>
                  <option value="'WAITING_SIGNATURE'">WAITING_SIGNATURE</option>
                  <option value="'ON_HOLD'">ON_HOLD</option>
                  <option value="'ACTIVE'">ACTIVE</option>
                  <option value="'ENDED'">ENDED</option>
                </select>
              </div>
              <div class="col-xl-6">
                <label class="form-label mt-3">Start Date<span class="text-danger">*</span></label>
                <div class="input-group">
                  <input type="text" class="form-control" id="exampleFormControlInput99" >
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
