<div class="content-body">
  <!-- row -->
  <div class="page-titles">
    <ol class="breadcrumb">
      <li><h5 class="bc-title">Contract</h5></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">
        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z"
            stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        Contract </a>
      </li>
      <li class="breadcrumb-item active"><a href="javascript:void(0)">Contracts </a></li>
    </ol>
    <!--    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">+ Add Task</button>-->

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body p-0">
            <div class="table-responsive active-projects style-1">
              <div class="tbl-caption">
                <h4 class="heading mb-0">Contracts</h4>
                <div>
                  <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#offCanvasAddContract"
                     role="button"
                     aria-controls="offCanvasAddContract">+ Add Contract</a>
                  <!--                  <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal"-->
                  <!--                          data-bs-target="#exampleModal1">-->
                  <!--                    + Invite Employee-->
                  <!--                  </button>-->
                </div>
              </div>
              <table id="empoloyees-tblwrapper" class="table">
                <thead>
                <tr>
                  <th>Employee ID</th>
                  <th>Employee Name</th>
                  <th>Written by</th>
                  <th>Contract name</th>
                  <th>Type</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th style="text-align: center">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let contract of contractsData" (click)="selectContract(contract)" >
                  <td><span>{{contract.employee.id}}</span></td>
                  <td>
                    <div class="products" data-bs-toggle="modal"
                         data-bs-target="#exampleModal1">
                      <img src="assets/images/employee/alex-suprun-ZHvM3XIOHoE-unsplash.jpg" class="avatar avatar-md"
                           alt="">
                      <div>
                        <h6>{{contract.employee.firstName}}</h6>
                        <span>{{contract.employee.email}}</span>
                      </div>
                    </div>
                  </td>
                  <td><span>{{contract.employee.firstName}}</span></td>
                  <td><span>{{contract.contractName}}</span></td>
                  <td><span class="text-primary">{{contract.type}}</span></td>
                  <td>
                    <span>{{contract.period.startDate | date}}</span>
                  </td>
                  <td>
                    <span>{{contract.period.endDate | date}}</span>
                  </td>
                  <td>
                    <span [ngClass]="{
                    'badge badge-success light border-0': contract.status === ContractStatus.ACTIVE,
                    'badge badge-primary light border-0':contract.status ===ContractStatus.ON_HOLD,
                    'badge badge-danger light border-0':contract.status ===ContractStatus.ENDED,
                    'badge badge-info light border-0':contract.status ===ContractStatus.WAITING_SIGNATURE
                    }" style="display: inline-block;min-width: 150px;text-align: center">{{contract.status}}</span>

                    &nbsp;<button (click)="onDelete(contract.id)" class="btn btn-danger shadow btn-xs sharp" title="Supprimer" ><i class="fa fa-trash"></i></button>
                  </td>

                </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-contract-detail [contract]="selectedContract"></app-contract-detail>
<div class="offcanvas offcanvas-end customeoff" tabindex="-1" id="offCanvasAddContract">
  <div class="offcanvas-header">
    <h5 class="modal-title" id="#gridSystemModal">Add Contract</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="container-fluid">
      <div>
        <label>Contract File</label>
        <div class="dz-default dlab-message upload-img mb-3">
          <form action="#" class="dropzone">
            <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27.1666 26.6667L20.4999 20L13.8333 26.6667" stroke="#DADADA" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M20.5 20V35" stroke="#DADADA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M34.4833 30.6501C36.1088 29.7638 37.393 28.3615 38.1331 26.6644C38.8731 24.9673 39.027 23.0721 38.5703 21.2779C38.1136 19.4836 37.0724 17.8926 35.6111 16.7558C34.1497 15.619 32.3514 15.0013 30.4999 15.0001H28.3999C27.8955 13.0488 26.9552 11.2373 25.6498 9.70171C24.3445 8.16614 22.708 6.94647 20.8634 6.1344C19.0189 5.32233 17.0142 4.93899 15.0001 5.01319C12.9861 5.0874 11.015 5.61722 9.23523 6.56283C7.45541 7.50844 5.91312 8.84523 4.7243 10.4727C3.53549 12.1002 2.73108 13.9759 2.37157 15.959C2.01205 17.9421 2.10678 19.9809 2.64862 21.9222C3.19047 23.8634 4.16534 25.6565 5.49994 27.1667"
                stroke="#DADADA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M27.1666 26.6667L20.4999 20L13.8333 26.6667" stroke="#DADADA" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <div class="fallback">
              <input name="file" type="file" (change)="onFileSelected($event)" multiple>

            </div>
          </form>
        </div>
      </div>
      <form [formGroup]="contractForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xl-6 mb-3" formGroupName="employee">
            <label for="exampleFormControlInput1" class="form-label">Employee ID <span
              class="text-danger">*</span></label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="id">
          </div>
          <div class="col-xl-6 mb-3">
            <label for="exampleFormControlInput2" class="form-label">Contract Name<span
              class="text-danger">*</span></label>
            <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="contractName">
          </div>
          <div formGroupName="period">
            <div class="col-xl-6 mb-3">
              <label for="exampleFormControlInput99" class="form-label">Joining Date<span
                class="text-danger">*</span></label>
              <input type="date" class="form-control" id="exampleFormControlInput99" formControlName="startDate">
            </div>
            <div class="col-xl-6 mb-3">
              <label for="exampleFormControlInput99" class="form-label">Ending Date<span
                class="text-danger">*</span></label>
              <input type="date" class="form-control" id="exampleFormControlInput100" formControlName="endDate">
            </div>
          </div>

          <div class="col-xl-6 mb-3">
            <label class="form-label">Contract Type<span class="text-danger">*</span></label>
            <select class="default-select form-control" formControlName="type">
              <option data-display="Select">Please select</option>
              <option value="CDD">CDD</option>
              <option value="CDI">CDI</option>
              <option value="CIVP">CIVP</option>
              <option value="FREELANCE">FREELANCE</option>
            </select>
          </div>
          <div class="col-xl-6 mb-3">
            <label class="form-label">Status<span class="text-danger">*</span></label>
            <select class="default-select form-control" formControlName="status">
              <option data-display="Select">Please select</option>
              <option value="WAITING_SIGNATURE">WAITING_SIGNATURE</option>
              <option value="ON_HOLD">ON_HOLD</option>
              <option value="ACTIVE">ACTIVE</option>
              <option value="ENDED">ENDED</option>
            </select>
          </div>
          <div class="col-xl-12 mb-3">
            <label class="form-label">Notes<span class="text-danger">*</span></label>
            <textarea rows="2" class="form-control" formControlName="notes"></textarea>
          </div>
          <div class="col-xl-12 mb-3">
            <div style="text-align: center;margin-top:30px;">
              <h3 style="font-family: monospace;">Add your signature</h3>
              <div style="margin-left: 18%;">
                <canvas #signPadCanvas width="500" height="200" (touchstart)="startSignPadDrawing($event)"
                        (touchmove)="movedFinger($event)"></canvas>
              </div>
              <button class="btn btn-primary" (click)="saveSignPad($event)">Save</button>
              <button class="btn btn-danger" (click)="clearSignPad($event)">Clear</button>
              <button class="btn btn-warning" (click)="undoSign($event)">Undo</button>
              <div>
                <span style="font-family: monospace;"> Your signature</span>
                <div>
                  <img src='{{ signImage }}'/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-primary me-1" type="submit" (click)="saveContract($event)">Save</button>
          <!--          <button class="btn btn-danger light ms-1">Cancel</button>-->
          <button id="cancelButton" class="btn btn-danger light ms-1" (click)="cancel($event)">Cancel</button>

        </div>
      </form>
    </div>
  </div>
</div>


